.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.btn-reset {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "RobotoRegular";
    src: local("Roboto-Regular"), url(../fonts/Roboto-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RobotoBold";
    src: local("Roboto-Bold"), url(../fonts/Roboto-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #161616;
    
}
/* header */

.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 4px 40px rgba(22, 22, 22, 0.1);
}

.header__container {
    
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.header__menu {
    color: #161616;
    font-weight: 400;
    font-size: 20px
}

.header__btn-region {
    color: #161616;
    margin-right: 56px;
}

.header-btn-style {
    border-radius: 10px;
    padding: 5px;
    transition: color .2s ease-in, background-color .2s ease-in;
}

.header-btn-style:focus-visible {
    color: #006095;
    outline: 1px solid #006095;
    outline-offset: 3px;
}

.header-btn-style:hover {
    color: #006095;
}

.header-btn-style:active {
    background-color: #006095;
    color: #fff;
}

.header__btn-region_sochi {
    border-bottom: 1px dashed #161616;
}

.header__info {
    margin-bottom: 30px;
}

.header__tel {
    color: #161616;
    font-weight: 700;
    
}

.header__regist {
    display: flex;
    justify-content: end;
}

.header__btn-entrance {
    margin-right: 22px;
}

.hero {
    padding-top: 210px;
}

.hero__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

.hero__subtitle {
    display: block;
    font-size: 24px;
    margin-bottom: 32px;
}

.hero__info {
    padding-left: 77px;
}

.hero__item {
    margin-bottom: 32px;
    font-size: 20px;
}

.hero__icon-card {
    background-image: url(../img/hero-icon-card.svg);
}

.hero__text-info {
    display: block;
}
.hero__desc{
	display: flex;
	gap: 20px;
}
.bank-cards{
	display: flex;
	flex-wrap: wrap;
	gap: 58px;
}
.footer {
    background: #22262C;
}

/* .footer__container {
    width: 83%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;  
    color: #fff;
} */

/* .footer__logo {
    margin-right: 30px;
} */

/* .application {
    max-width: 470px;
    margin-left: auto; 
    text-align: right;
} */

.footer__info {
    max-width: 270px;
    font-size: 20px;
}

.footer__info-link {
    outline: none;
    transition: color .2s ease-in, border-color .2s ease-in, border .2s  ease-in;
}

.footer__info-link:not(:last-child) {
    display: block;
    margin-bottom: 16px;
}

.footer__info-link:focus-visible {
    outline: 1px solid #fff;
}

.footer__info-link:hover {
    border-bottom: 1px solid #fff;
}

.footer__info-link:active {
    color: #006095;
    border-color: #006095;
}

.application__text {
    display: block !important;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
    color: #fff;
}

.application__link {
    font-weight: 700;
    font-size: 20px;
}

.application__link:hover {
    font-size: 30px;
}

.application__link:active {
    color: #006095;
}